<div class="col-sm-9"style="background: white">

<h2>Editing House</h2>

<%= render 'form', house: @house %>
  <hr>
  <div class="btn-group">
<%= link_to 'Show', @house,class:'btn btn-info' %>
<%= link_to 'Back', houses_path,class:'btn btn-info' %>
</div>
  <hr>
</div>